.header {
    color: #1c1b1b;
    background-color: var(--color-white);
    box-shadow: 0 -1px #ddd inset;
    padding: 10px 0;
}
.title {
    width: 100%;
    font-style: normal;
    color: #1c1b1b;
    text-align: center;
    text-transform: uppercase;
}