.searchContainer {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(137,137,137,.6); */
}
.subtitle {
  font-size: 1em;
  font-style: italic;
  margin: 0 0 30px;
}
.searchForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.searchForm .searchField {
  flex: 0 1 40%;
}
.searchForm input {
  padding: 12px 14px;
}
.searchForm fieldset {
  border-radius: 0;
  border: 1px solid rgba(4,4,4,.15);
}
/* .searchForm fieldset:focus-visible {
  outline: 1px solid rgba(4,4,4,.15);
} */
.searchButton {
  color: var(--color-white);
  background-color: #1c1b1b;
  border-radius: 0;
  padding: 12px 20px;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.2em;
}
.searchButton:hover {
  color: #1c1b1b;
  background-color: var(--color-white);
  border-color: #1c1b1b;
}