.App {
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}
.main {
  min-height: calc(100vh - 170px);
  background-color: var(--color-greyLight);
}

.recipe-container {
  background-color: #ededed;
  padding: 40px 0;
}
.recipe-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  max-width: 1300px;
  padding: 40px 20px;
  margin: 0 auto;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1024px) {
    grid-gap: 70px;
  }
}