.App {
  text-align: center;
  min-height: 100vh;
}


.main {
  min-height: 850px;
}
.container {
  max-width: 1300px;
  padding: 0 20px;
  margin: 0 auto;
}

.subtitle {
  font-size: 20px;
  font-style: italic;
}



.recipe-gallery {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto; 
}